/** @format */

var Job = require("../utils/Job");

module.exports  = class extends Job {
	constructor(name, client) {
		super(name, client);
		this.description = "Job Description";
		this.schedule = "0 0 * * * *";
	}

	job(self) {
		const client = self.client; 
        /*
            Job...
        */
	}
};